<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="cus.webApi" type="Cus.WebApi.Configuration.ApiConfigurationSection,Cus.WebApi"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MioServices" type="Mio.MioConfigSection, Mio" />
  </configSections>
  <MioServices>
    <add name="IAPI" type="SmartMH.DataAccess.WebAPI,SmartMH.DataAccess"/>
  </MioServices>
  <cus.webApi>
    <!--<authetication name="SSO" type="Beyondbit.Cus.WebApi.Authetication.SSOImpl,Beyondbit.Cus.WebApi.Authetication" />-->
  </cus.webApi>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <appSettings>
    <add key="PictureNewsBaseURL" value="http://mtest.shmh.gov.cn/SmartMHWebAPI/images/picturenews/"/>
    <add key="MenuIconBaseURL" value="http://mtest.shmh.gov.cn/SmartMHWebAPI/images/"/>
    <add key="ModuleBaseURL" value=""/>
  </appSettings>

  <connectionStrings>
    <add name="SmartMH" connectionString="Data Source=10.10.1.160;Initial Catalog=SmartMH;Persist Security Info=True;User ID=sa;Password=123qwe!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>